<form autocomplete="off" [formGroup]="form" (ngSubmit)="calcular()">
  <div>
    <div class="form-group row">
      <div class="col-8">
        <input class="form-control" type="number" formControlName="n1" placeholder="Ingrese primer numero">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-8">
        <input class="form-control" type="number" formControlName="n2" placeholder="Ingrese segundo numero">
      </div>
    </div>

    <div class="form-group row ">
      <input class="form-control" type="radio" value='1' formControlName="operacion"> Suma
      <input class="form-control" type="radio" value='2' formControlName="operacion"> Resta
      <input class="form-control" type="radio" value="3" formControlName="operacion"> Multiplicacion
      <input class="form-control" type="radio" value="4" formControlName="operacion"> Division
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-primary">
          Calcular
        </button>
      </div>
    </div>

  </div>
</form>

<div>
  <p>El resultado es: {{resultado}}</p>
</div>

<footer>Elena Sanz</footer>