<app-titulo></app-titulo>

<form autocomplete="off" [formGroup]="form" (ngSubmit)="convertir()">
  <div>
    <div class="form-group row">
      <div class="col-8 row">
        <label>Temperatura(ºC)</label>
        <input class="form-control" type="number" formControlName="temp" value="0">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-8 row">
        <label>Distancia (Kms)</label>
        <input class="form-control" type="number" formControlName="dist" value="0">
      </div>
    </div>


    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-primary">
          Convertir
        </button>
      </div>
    </div>

  </div>
</form>

<div>
  <p>Temperatura: {{ temperatura }}(ºF)</p>
  <p *ngIf="distancia > 0">Distancia: {{ distancia }}(Millas)</p>
</div>

<footer>Elena Sanz</footer>